## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [2]:
ciudades1=["tokio","ccs","londres","rio","new york","madrid","boston"]
ciudades=["tokio","ccs","londres","rio","new york","madrid"]

print(ciudades)

['tokio', 'ccs', 'londres', 'rio', 'new york', 'madrid']

2) Imprimir por pantalla el segundo elemento de la lista

In [2]:
print(ciudades[1])

ccs

3) Imprimir por pantalla del segundo al cuarto elemento

In [3]:
print(ciudades[1:4])

['ccs', 'londres', 'rio']

4) Visualizar el tipo de dato de la lista

In [4]:
type(ciudades)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [5]:
print(ciudades[2:])

['londres', 'rio', 'new york', 'madrid']

6) Visualizar los primeros 4 elementos de la lista

In [6]:
print(ciudades[:4])
print(ciudades)

['tokio', 'ccs', 'londres', 'rio']
['tokio', 'ccs', 'londres', 'rio', 'new york', 'madrid']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [7]:
ciudades.extend(["ccs", "medallo"])
print(ciudades)

['tokio', 'ccs', 'londres', 'rio', 'new york', 'madrid', 'ccs', 'medallo']

8) Agregar otra ciudad, pero en la cuarta posición

In [8]:
ciudades.insert(3, "bali")
print(ciudades)

['tokio', 'ccs', 'londres', 'bali', 'rio', 'new york', 'madrid', 'ccs', 'medallo']

9) Concatenar otra lista a la ya creada

In [9]:
paises = ["ven", "usa", "pain", "french"]
ciudades.extend(paises)
print(ciudades)

['tokio', 'ccs', 'londres', 'bali', 'rio', 'new york', 'madrid', 'ccs', 'medallo', 'ven', 'usa', 'pain', 'french']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [10]:

print(ciudades)
lene=len(ciudades)

print(ciudades.index('ccs',2,8))
print(lene)
#solo muestra la primera posicion donde la encuentra

['tokio', 'ccs', 'londres', 'bali', 'rio', 'new york', 'madrid', 'ccs', 'medallo', 'ven', 'usa', 'pain', 'french']
7
13

11) ¿Qué pasa si se busca un elemento que no existe?

In [11]:
#nos dariua este error ValueError: 'ccss' is not in list

12) Eliminar un elemento de la lista

In [12]:
print(ciudades.pop())

french

13) ¿Qué pasa si el elemento a eliminar no existe?

In [13]:
#nos arroja este errror: x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [14]:
ultimo=ciudades.pop()
print(ultimo)

pain

15) Mostrar la lista multiplicada por 4

In [15]:
print(ciudades*3)

['tokio', 'ccs', 'londres', 'bali', 'rio', 'new york', 'madrid', 'ccs', 'medallo', 'ven', 'usa', 'tokio', 'ccs', 'londres', 'bali', 'rio', 'new york', 'madrid', 'ccs', 'medallo', 'ven', 'usa', 'tokio', 'ccs', 'londres', 'bali', 'rio', 'new york', 'madrid', 'ccs', 'medallo', 'ven', 'usa']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [16]:
tupla=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
#for i in range(0,20):
#    tupla.insert(i,i+1)
print(tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [17]:
print(tupla[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [18]:
 20 in tupla

True

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [19]:
if "paris" in ciudades1:
    print(f"ya existe paris en la lista y esta en la posicion {ciudades1.index('paris')}")
else:
    ciudades1.append("paris")
    print(ciudades1)

['tokio', 'ccs', 'londres', 'rio', 'new york', 'madrid', 'paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [20]:
print(ciudades.count("ccs"))
print(tupla.count(2))

2
1

21) Convertir la tupla en una lista

In [21]:
list(tupla)
tupla=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [22]:
numero1= tupla[0]
numero2= tupla[1]
numero3= tupla[2]
numero1

1

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [26]:
ciudades3={"1":"tokio",
          "2":"ccs",
          "3":"londres",
          "4":"rio",
          "5":"new york",
          "6":"madrid"}
print(ciudades3)

{'1': 'tokio', '2': 'ccs', '3': 'londres', '4': 'rio', '5': 'new york', '6': 'madrid'}

24) Imprimir las claves del diccionario

In [24]:
#print(ciudades3.keys())

25) Imprimir las ciudades a través de su clave

In [25]:
#print(ciudades3.values())