## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
edad=10
print(edad)

10

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
dato=8.5
print(type(dato))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(edad))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre="higol"

5) Crear una variable que contenga un número complejo

In [10]:
complejo = 1+2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [12]:
print(type(complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [17]:
import math
pivalor=round(math.pi,4)
print(pivalor)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [18]:
valortrue="True"
truevalor=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [20]:
print(type(valortrue))
print(type(truevalor))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [21]:
entero = 21
decimal = 32.1

11) Realizar una operación de suma de números complejos

In [23]:
complejo1=1+3j
complejo2=3+2j
suma_complejos= complejo1+complejo2
print(suma_complejos)

(4+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [24]:
real1=4
complejo3=1+5j
suma_real_complejo= real1+complejo3
print(suma_real_complejo)

(5+5j)

13) Realizar una operación de multiplicación

In [25]:
3*4

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [26]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [28]:
cociente=27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [31]:
entera=27//4
print(entera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [30]:
resto=27%4
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [32]:
operacion = 4 * entera + resto
print(operacion)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [33]:
saludo="hola"
nombre="higol"
saludos_completo=saludo+nombre
print(saludos_completo)

holahigol

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [34]:
dos_letras ="2"
dos_numeros = 2

print(type(dos_letras))
print(type(dos_numeros))

<class 'str'>
<class 'int'>

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [35]:

print(type(int(dos_letras)))
print(type(dos_numeros))

<class 'int'>
<class 'int'>

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
#el numero no va entre comillas simples, va sin comillas y separado con punto los decimales

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [36]:
var3=3
var3-=1
print(var3)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [57]:
#2>>3 es un operador bit a bit que desplaza el numero de la derecha a la derecha 
#o izquierda posiciiones al de la izquiera, es el sistema que usan las computadoras 
#para describir los numeros decimales a traves de 0s y 1s
5 << 3

#0101  0011  quedaria 100

20

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
#porque no datos del mismo tipo
#si

26) Realizar una operación válida entre valores de tipo entero y string

In [52]:
saludando= "hola chiquita "
print(saludando*3)

hola chiquita hola chiquita hola chiquita